@font-face {
  font-family: "StratosSkyeng";
  src: local("StratosSkyeng"), local("StratosSkyeng"),
    url("../../../../assets/fonts/Stratos-Regular.woff2") format("woff2"),
    url("../../../../assets/fonts/Stratos-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.filter__wrapper {
  position: relative;
}

.filter__button__badge {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: rgb(173, 97, 255);
  border-radius: 50%;
  right: -8px;
  top: -10px;
  z-index: 1;
  text-align: center;
}

.filter__button__header {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #fff;
  border-radius: 60px;
  padding: 6px 20px;
  position: relative;
  color: #fff;
  background-color: #181818;

  &:hover {
    border-color: #d9b6ff;
    color: #d9b6ff;
    cursor: pointer;
  }
}

.active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}

.filter__button__header__box {
  position: absolute;

  width: 248px;
  height: 305px;

  top: 50px;
  left: 0;

  border-radius: 12px;
  padding: 34px;

  background-color: #313131;
  padding-top: 36.5px;
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 36.5px;
  box-sizing: border-box;
  cursor: pointer;
}

.filter__button__header__box ul {
  width: 176px;
  max-height: 232px;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 28px;

  box-sizing: border-box;
}

.filter__button__header__box ul::-webkit-scrollbar {
  width: 4px; /* ширина всей полосы прокрутки */
}

.filter__button__header__box ul::-webkit-scrollbar-track {
  background: #4b4949;
  border-radius: 10px; /* цвет зоны отслеживания */
  height: 65px;
}

.filter__button__header__box ul::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

.filter__item {
  display: flex;
  width: 119px;
  height: 24px;

  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  transition: 0.2s all;
  &:hover {
    color: #ad61ff;
    text-decoration: underline;
  }
  &:active {
    color: #ad61ff;
    text-decoration: underline;
  }
}

.dropdown__radio-div {
  min-width: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  text-align: center;
}

.dropdown__radio-div input {
  display: none;
}

.dropdown__radio-div label {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
.dropdown__radio-div label::before {
  text-align: center;

  width: 18px;
  height: 18px;
  content: "";
  margin-right: 10px;
  display: inline-block;
  background: url("../../../../assets/img/icon/ellipse.svg");
  cursor: pointer;
}

.dropdown__radio-div input:checked + label::before {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  content: "";
  display: inline-block;
  background: url("../../../../assets/img/icon/filledellipse.svg");
}
